.CreeFacture{
    width: 100%;
    height: 90%;
}


.CreeFacture-Line{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.CreeFacture-Line input{
    width: 100%;
}

.CreeFacture-Line input,.CreeFacture-Line textarea{
    margin-right: 2%;
    height: 2.7em;
    font-size: 1.2em;
    border: 2px solid var(--Gray);
    padding-left: .7em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
}
.CreeFacture-Line textarea{
    max-width: 100%;

}
.CreeFacture-Line div{
    width: 40%;
    font-family: 'Inter-Bold';
}
.CreeFacture-Line img{
    filter: invert(58%) sepia(97%) saturate(313%) hue-rotate(110deg) brightness(96%) contrast(97%);
}
.CreeFacture-Line > textarea{
    height: 6.4em;
    max-width: 100%;
}
.CreeFacture-Button{
    height: 2.7em;
    width: 9em;
    font-family: 'Inter-Bold';
    transition: all .2s ease;
    font-size: 1.2em;
    background-color: var(--Green);
    color: var(--White);
    padding-left: .7em;
    padding-right: .7em;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}
.CreeFacture-Button:first-of-type{
    background-color: var(--Gray);
    color: var(--White);
    border: 2px solid var(--Gray);
    border-radius: .4em 0 0 .4em;
    -webkit-border-radius: .4em 0 0 .4em;
    -moz-border-radius: .4em 0 0 .4em;
    -ms-border-radius: .4em 0 0 .4em;
    -o-border-radius: .4em 0 0 .4em;
}
.CreeFacture-Button:last-of-type{
    background-color: var(--Green);
    color: var(--White);
    border: 2px solid var(--Green);
    border-radius: 0 .4em .4em 0;
    -webkit-border-radius: 0 .4em .4em 0;
    -moz-border-radius: 0 .4em .4em 0;
    -ms-border-radius: 0 .4em .4em 0;
    -o-border-radius: 0 .4em .4em 0;
}

.CreeFacture-Button:hover{
    background-color: var(--White);
    color: var(--Green);
}

.CreeFacture-Button:first-of-type:hover{
    background-color: var(--White);
    color: var(--Gray);
}

.CreeFacture-Line:last-child{
    justify-content: center;
}

.CreeFacture-InfoInitial{
    width: 35% !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--White);
    padding: .5em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
}

.CreeFacture-InfoInitial > div{
    width: 13em;
}
.CreeFacture-InfoInitial span{
    color: var(--Gray);
}
.CreeFacture-Transaction-Info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13em;
}

.CreeFacture-Transaction-Info:first-of-type > textarea{
    height: 56%;
}

.CreeFacture-Transaction-Info:last-of-type > h4{
    text-align: right;
    padding-right: .5em;
}


.CreeFacture-List{
    position: relative;
    width: 100% !important;
    height: 30em;
    border: 2px solid var(--Light-Gray);
    overflow-y: scroll;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
}

.CreeFacture-table{
    position: absolute;
    width: 100%;
    /* background-color: var(--White); */
    text-align: center;
    border-collapse: collapse;
}

.CreeFacture-table tbody{
    overflow: scroll;
    height: 80px;
}
.CreeFacture-table thead{
    color: var(--Black);
    position: sticky;
    width: 100%;
    top: 0;
}

.CreeFacture-table thead tr{
    background-color: var(--Light-Gray);
    border-radius: .4em .4em 0 0;
    -webkit-border-radius: .4em .4em 0 0;
    -moz-border-radius: .4em .4em 0 0;
    -ms-border-radius: .4em .4em 0 0;
    -o-border-radius: .4em .4em 0 0;
}



.CreeFacture-table tbody{
    background-color: var(--White);
}

.CreeFacture-table td, .CreeFacture-table th {
    border-left: 2px solid var(--Light-Gray);
    border-right: 2px solid var(--Light-Gray);
    border-bottom: 1px solid var(--Light-Gray);
}

.CreeFacture-table td:first-child, .CreeFacture-table th:first-child {
    border-left: none;
    
}

.CreeFacture-table td:last-child, .CreeFacture-table th:last-child  {
    border-right: none;
}
.CreeFacture-table th{
    font-family: 'Inter-Bold';
}

.CreeFacture-table tr{
    height: 2.5em;
}

#CreeFacture-Tax{
    width: 3em;
}

.react-datalist-input__listbox-option {
    border:  2px solid var(--Gray);
    list-style: none;
    font-size: 1.3em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
}
.react-datalist-input__listbox-option:hover{
    background-color: var(--Light-Gray);
}
.react-datalist-input__listbox-option mark{
    background-color: var(--Green);
    width: 100%;
}


@media screen and (max-width:855px) {
    .CreeFacture-InfoInitial{
        width: 60% !important;
    }
}